th  {
    
 font-weight: 800;
 font-family:helvetica,sans-serif;
 background-color:coral;
 color: #FBF8EF;
     
}



table{
    font-family: helvetica,sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color:chocolate;
    
}

td{
    background-color:antiquewhite;
    font-family:helvetica,sans-serif;
}


